body {
  font-family: Arial, sans-serif;
  padding: 40px;
  background: PaleTurquoise;
}

nav {
  margin-bottom: 20px;
}

button {
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor:pointer;
}

button:hover {
  background-color: #0056b3;
}

canvas {
  max-width: 600px;
  max-height: 600px;
  margin: 20px;
  background: PaleTurquoise;
  padding: 10px;
}

#bar-charts, #pie-charts, #doughnut-charts, #radar-charts {
  display: flex;
  align-items: center;
}